.agenda_body
{
    background-color: var(--Blue-light);
    padding: 8px 0;
    border-radius: 40px;
    height: 90%;
}


.agenda_status
{
    margin-bottom: 10px;
    font-family: "BBRollerMonoProST-Medium";
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 4.32px;

}


.agenda_list ul li
{
    list-style-type: none;
    font-family: "GTEestiDisplayTrial-Light";
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 3.12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}