.contact_info,
.address_info
{
    font-family: "GTEestiDisplayTrial-Light";
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 3.12px;
}

.follow_us,
.newsletter_message
{
    font-family: "BBRollerMonoProST-Medium";
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 3.12px;
}

.contact-form input,
.contact-form textarea
{
    background: var(--Blue-light);
    border-radius: 30px;
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

.contact-form label
{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2.16px;
}

input[type="submit"]
{
    padding: 10px 25px;
    font-family: "BBRollerMonoProST-Medium";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 3.12px;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid var(--Black);
    border-radius: 47px;
    transition: all 0.5s ease;
}

input[type="submit"]:hover
{
    background-color: var(--Red);
    border-color: var(--Red);
}