@import url(variables.css);
@import url(about.css);
@import url(wcce2024.css);
@import url(news.css);
@import url(contact.css);
@import url(organiser.css);
@import url(agenda.css);


*, *::after, *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

@font-face {
      font-family: "BBRollerMonoProST-SemiLight";
      src: url(/fonts/BB_Roller/BBRollerMonoProST-SemiLight.ttf);
      font-weight: 350;
      font-style: normal;
      font-display: fallback;
}
@font-face {
      font-family: "BBRollerMonoProST-Regular";
      src: url(/fonts/BB_Roller/BBRollerMonoProST-Regular.ttf);
      font-weight: 400;
      font-style: normal;
      font-display: fallback;
}
@font-face {
      font-family: "BBRollerMonoProST-Medium";
      src: url(/fonts/BB_Roller/BBRollerMonoProST-Medium.ttf);
      font-weight: 500;
      font-style: normal;
      font-display: fallback;
}
@font-face {
      font-family: "BBRollerMonoProST-SemiBold";
      src: url(/fonts/BB_Roller/BBRollerMonoProST-SemiBold.ttf);
      font-weight: 600;
      font-style: normal;
      font-display: fallback;
}
@font-face {
      font-family: "GTEestiDisplayTrial-Light";
      src: url(/fonts/GT-Eesti/GT-Eesti-Text-Light-Trial.otf);
      font-weight: 300;
      font-style: normal;
      font-display: fallback;
}
@font-face {
      font-family: "GTEestiDisplayTrial-Regular";
      src: url(/fonts/GT-Eesti/GT-Eesti-Text-Regular-Trial.otf);
      font-weight: 400;
      font-style: normal;
      font-display: fallback;
}
@font-face {
      font-family: "GTEestiDisplayTrial-Medium";
      src: url(/fonts/GT-Eesti/GT-Eesti-Text-Medium-Trial.otf);
      font-weight: 500;
      font-style: normal;
      font-display: fallback;
}
@font-face {
      font-family: "GTEestiDisplayTrial-Bold";
      src: url(GT-Eesti-Text-Bold-Trial.otf);
      font-weight: 700;
      font-style: normal;
      font-display: fallback;
}


body {
      height: 100vh;
      font-family: "BBRollerMonoProST-Regular";
      line-height: 1.6;
      overflow-x: hidden;
      color: var(--Black);
}

.wrapper-section
{
      display: flex;
      background: linear-gradient(180deg, #D9D9D9 33.94%, #FFFCB2 99.76%);
      box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.main {
      width: 95%;
      transition: all 0.5s ease;
}

.main .main-container{
      position: relative;
      /* height: 100vh; */
      background-image: url("/images/home_page_background.svg");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
}

.main .logo_wrapper
{
      position: absolute;
      left: 2rem;
      bottom: 2rem;
}

.main .logo_wrapper img
{
      width: 280px;
}

.main .conference_name
{
      color: #000;
      font-family: 'BBRollerMonoProST-SemiLight';
      font-size: 96px;
      font-style: normal;
      font-weight: 300;
      line-height: 95px;
      letter-spacing: 13.44px;
}

.main .conference_detail
{
      color: #000;
      font-family: 'BBRollerMonoProST-Regular';
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 3.12px;
}

.right-aside {
      width: 5%;
      min-height: 100vh;
      box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.15);
      transition: all 0.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.right-aside.menu_opened
{
      width: 100%;
      height: 100vh;

      padding: 35px;
}

.main:has( + .right-aside.hoverable:hover)
{
      filter: blur(102px);
}

.main:has( + .right-aside.menu_opened)
{
      display: none;
}

.right-aside.hoverable:hover
{
      width: 35%;
      overflow-y: none;
}

.right-aside.hoverable:hover .nav-link,
.right-aside.menu_opened .nav-link
{
      text-align: start;
}

.right-aside.hoverable:hover .nav_link_name,
.right-aside.menu_opened .nav_link_name
{
      display: inline-block;
}

.right-aside.menu_opened .nav .mobile_language_items
{
      text-align: center;
}

.right-aside.menu_opened .nav .mobile_language_items a
{
      display: inline-block !important;
}

.right-aside.hoverable:hover .social_links,
.right-aside.menu_opened .social_links
{
      display: block;
}

.right-aside .nav_link_circle
{
      display: inline-block;
      width: 38px;
      height: 38px;
      border: 2px solid var(--Black);
      border-radius: 50%;
}

.right-aside .nav_link_name
{
      display: none;
      color: var(--Black);
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 4.32px;
      transition: all 1s ease;
}

.right-aside .nav-link
{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
}

.right-aside .nav-link:hover .nav_link_circle,
.right-aside .nav a.active .nav_link_circle
{
      background-color: var(--Red);
      border-color: var(--Red);
}

.right-aside .nav-link span
{
      vertical-align: middle;
}

.right-aside .social_links
{
      margin-top: 150px;
      display: none;
}
.social_media_links a {
      display: inline-block;
      background: #000;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      vertical-align: middle;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      color: antiquewhite;
}

.social_media_links a svg {
      vertical-align: bottom;
}

 .email a{
      color: var(--Black);
      font-size: 26px;
      line-height: 34px;
      letter-spacing: 3.12px;
      text-decoration-line: underline;
}
.right-aside .organisers
{
      display: flex;
}

.right-aside .organisers a
{
      display: inline-block;
      padding-right: 10px;
      width: 20%;
      margin-top: auto;
      margin-bottom: auto;
}

.right-aside .organisers a:last-child
{
      padding-right: 0;
}

.right-aside .organisers a img
{
      width: 100%;
}

/* Animation PopUp */
.animation_container img
{
      /* display: none; */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
}
/* Animation PopUp */

/* CUSTOM WIDTHS */
.w-100, .w-xs-100 { width: 100%!important; }
.w-75, .w-xs-75 { width: 75%!important; }
.w-50, .w-xs-50 { width: 50%!important; }

.vh-100, .vh-xs-100 { height: 100vh !important; }
.vh-75, .vh-xs-75 { height: 75vh !important; }
.vh-80, .vh-xs-80 { height: 80vh !important; }
.vh-none {height: none !important;}

/* CUSTOM WIDTHS */

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {
      .main .conference_name {
            font-size: 85px;
            line-height: 85px;
      }

      .main .conference_detail {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 2.12px;
        }
}

@media screen and (max-width: 992px) {
      .main{
            width: 90%;
      }

      .main .conference_name {
            font-size: 75px;
            line-height: 75px;
            letter-spacing: 3.44px;
      }

      .main .conference_detail {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 2.12px;
        }

      .right-aside
      {
            width: 10%;
      }
      .agenda_right_arrow
      {
            display: none;
      }

      .new_title {
            font-size: 45px;
            line-height: 50px;
        }

}

@media screen and (max-width: 768px) {
      .page_title {
            font-size: 41px;
            line-height: 44px;
            letter-spacing: 4.92px;
      }

      .page_description {
            font-size: 16px;
            line-height: 20px; /* 125% */
            letter-spacing: 1.92px;
      }

      .wcce_event_number span:first-child {
            width: 50px;
            height: 50px;
            font-size: 28px;
            line-height: 55px;
        }

      .wcce_event_year_location {
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 3.12px;
      }

      .wcce_event_theme p:first-child {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 1.68px;
      }

      .wcce_event_theme p:nth-child(2) {
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 2.16px;
      }

      .wcce_event_participants {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.92px;
      }

      .wcce_event_participants .red_circle {
            width: 15px;
            height: 15px;
            margin-right: 8px;
        }

      .inner_header p.wcce_event_date
      {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 1.2px;
      }

      .right-aside:hover
      {

      }

      .right-aside .nav_link_circle {
            width: 28px;
            height: 28px;
      }
      .right-aside .nav-link {
            padding: 0.5rem 0.5rem;
      }
      .right-aside .nav_link_name
      {
            font-size: 25px;
            line-height: normal;
      }

      .email a {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 2.12px;
            text-decoration-line: none;
      }

      .organiser .organiser_name {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.92px;
      }

      .organiser .organiser_desc
      {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.92px;
      }

      .organiser .organiser_site
      {
            font-size: 15px;
            line-height: 16px;
            letter-spacing: 1.12px;
      }

      .organiser .org_body_toggle::after {
            top: 17px;
            left: 5px;
        }

      .main .conference_name {
            font-weight: bold;
            font-size: 32.5px;
            line-height: 34px;
            letter-spacing: 4.55px;
      }

      .main .conference_detail {
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 2.04px;
        }

      .sub_themes,
      .theme_title h4 {
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 3.12px;
      }

      .theme_description {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.92px;
      }

      .agenda
      {
            height: 100%;
            background-image: url("/images/vertical_line.svg"), url("/images/vertical_line.svg");
            background-position: right center, left center;
            background-repeat: no-repeat;
            background-size: 7px;
      }

      .agenda_status {
            font-size: 22px;
            line-height: 40px;
            letter-spacing: 2.64px;
        }

      .agenda_list ul li {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.92px;
      }

      .contact_info, .address_info {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.92px;
        }

        .follow_us,
        .newsletter_message
         {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1.92px;
        }

        .contact-form input, .contact-form textarea {
            padding: 0.5rem 0.5rem;
            font-size: 1rem;
        }

        input[type="submit"] {
            padding: 8px 24px;
            line-height: 24px;
        }

        .new_content {
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 1.12px;
        }

}

@media screen and (max-width: 576px) {
      .main{
            width: 85%;
      }

      .right-aside
      {
            width: 15%;
      }

      .page_title {
            font-size: 35px;
      }

      .organiser .organiser_logo
      {
            width: 200px;
      }
      .agenda_status {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 1.64px;
        }

        .new_title {
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 0.52px;
        }
}

@media screen and (max-width: 320px) {
      .page_title {
            font-size: 25px;
      }

      .main .conference_name {
            font-size: 25px;
            line-height: 25px;
            letter-spacing: 2.55px;
      }

      .main .conference_detail {
            font-size: 12px;
            line-height: 15px; /* 117.647% */
            letter-spacing: 1.04px;
        }

      .sub_themes, .theme_title h4 {
            font-size: 20px;
            line-height: 25px;
        }
      .agenda_status {
            font-size: 13px;
            line-height: 18px;
        }
}

/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {
      .container {
            max-width: 100%;
      }

      .w-sm-100 { width: 100%!important; }
      .w-sm-75 { width: 75%!important; }
      .w-sm-50 { width: 50%!important; }

      .vh-sm-100 { height: 100vh !important; }
  }

  /* MD breakpoint*/
  @media (min-width: 768px) {
      .container {
            max-width: 100%;
        }

      .w-md-100 { width: 100%!important; }
      .w-md-75 { width: 75%!important; }
      .w-md-50 { width: 50%!important; }

      .vh-md-100 { height: 100vh !important; }
  }

  /* LG breakpoint */
  @media (min-width: 992px) {
      .container {
            max-width: 100%;
      }
      .w-lg-100 { width: 100%!important; }
      .w-lg-75 { width: 75%!important; }
      .w-lg-50 { width: 50%!important; }

      .vh-lg-100 { height: 100vh !important; }
  }

  @media (min-width: 1200px){
      .container {
            max-width: 100%;
      }

}
